/* ABOUT ME */

.headshot, .snowPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #295982;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.About p:hover {
  color: #295982;
  }

.bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.badge-base {
  margin-left: 50px;
}

.specialLink {
  color: #A43E4C
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #295982;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:#295982;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #295982 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

  /* MEDIA SCREENS */
@media screen and (max-width: 831px) {
  .headshot {
    width: 60%
  }
}