* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: black;
}

/* HEADER, FOOTER AND NAV BAR */

Header {
  padding: 50px 0px;
  background-color: #295982;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

Header h1 {
  background-color: #6FABD0;
  padding: 10px 40px 10px 50px;
  color: white;
  border-radius: 0px 7px 7px 0px;
}

nav {
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav li {
  display: inline-block;
  padding: 5px;
  border-bottom: 4px solid #6FABD0;
  border-radius: 0px 0px 3px 3px;
  margin: 10px;
  color: #0077b6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  box-shadow: inset 0 0 0 0 #6FABD0;
}

.Link {
  color: white
}

.LinkActive {
  background-color: #6FABD0;
  box-shadow: 100px #6FABD0;
  border-radius: 5px;
}


Footer {
  display: flex;
  padding-top: 20px;
  background-color: whitesmoke;
  width: 100vw;
}

/* Footer a {
  min-width: 20vw;
  text-align: right;
  margin-right: 15px;
  padding: 10px;
  border-right: 5px solid slategray;
  color: slategray;
} */

address {
  /* display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: inline block;
  margin-left: auto;
  margin-right: auto;
  min-width: 100vw;
  padding: 0px 50px 20px 50px;
}

address a {
  margin: 20px;
  border-bottom: 3px solid #295982;
  padding: 5px;
  color: #295982;
  text-align: center;
}

/* PAGES */

.About, .Contact, .Portfolio, .Resume {
  background-color: #92C0D750;
  padding: 3%;
  text-align: center;
  min-height: 60vh;
}

.About h2, .Portfolio h2, .Resume h2 {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #6FABD0;
  color: white;
  border: 3px solid #295982;
  border-radius: 10px;
}

/* ABOUT ME */

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* RESUME */

.Resume h3 {
  padding: 10px;
}

.Education, .Skills {
  padding: 5px
}

.ResumeBtn {
  background-color: #295982;
  color: white;
  padding: 10px;
  border: 3px solid #6FABD0;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.ResumeBtn:hover {
  background-color: #6FABD0;
  border: 3px solid #295982;
}

li {
  list-style-type: none;
}

/* CONTACT */

.Form {
  background-color: #295982;
  border-radius: 20px;
}

.Form label {
  color: white;
  display: block;
  padding: 10px;
}

.Form input, textarea {
  margin-bottom: 15px;
  padding: 5px;
  width: 50%;
  border-radius: 7px;
}

.Contact h2 {
  text-align: center;
  margin-top: 10px;
  padding: 15px;
  color: white
}

.Form button {
  background-color: #6FABD0;
  color: white;
  padding: 10px;
  border: 3px solid #6FABD0;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* HOVERS  */

nav li:hover {
  box-shadow: inset 100px 0 0 0 #6FABD0;
  border-radius: 5px;
}

address a:hover {
  box-shadow: 7px 7px #295982;
  filter: opacity(0.7);
  border-radius: 7px;
}

.About p:hover {
color: #295982;
}

/* MEDIA SCREENS */
@media screen and (max-width: 872px) {
  Header {
      padding: 0;
  }

  Header h1 {
      width: 100vw;
      height: 10vh;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
      background-color: #295982;
  }

  nav {
      width: 100vw;
      margin-right: 0px;
  }

}

@media screen and (max-width: 831px) {
  address {
      flex-direction: column;
      min-width: 80vw;
  }

  address a {
    display: block;
  }

  .headshot {
    width: 60%
  }
}

@media screen and (max-width: 576px) {

  Footer {
      flex-wrap: wrap;
  }

  Footer h2 {
      border-right: none;
      border-bottom: 5px solid slategray;
      margin-bottom: 20px;
      margin-left: 15px;
      text-align: center;
  }

  address {
      padding-right: 0px;
  }

}

@media screen and (max-width: 444px) {
  Header h1 {
      height: 10vh;
  }
}

@media screen and (max-width: 359px) {
  nav li {
    display: block;
  }
}